<div class="container">
<div class="col-md-6 col-md-offset-3 container-slide" style="margin-top: 10%;">
    <h2>Login</h2>
    <form name="form" ng-submit="login()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Email</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Login</button>
            <a href="#/register" class="btn btn-link">Register</a>
            <a href="#/forgotPassword" class="btn btn-link">Forgot Password</a>
			
        </div>
    </form>
	<div class="alert alert-danger" ng-show="errorMessage!=null">{{errorMessage}}</div>
</div>
</div>
